.general-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 600px;
}

.button-menu-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
