.contained-card-container,
.outlined-card-container {
  display: flex;
  flex-direction: row;
  padding: 40px 60px;
  border-radius: var(--outer-border-radius);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
  overflow: hidden;
}

.outlined-card-container {
  background-color: var(--background-color);
}

.contained-card-container {
  background-color: var(--accent-color);
}
