.general-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.model-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.input-menu-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (max-width: 1000px) {
  .model-container {
    flex-direction: column;
  }
}
